In [2]:
# basic libraries
import pandas as pd

1. IESO Demand Datasets

In [3]:
# getting datasets from 2002 to 2023
demand_datasets = []
for i in range(2002, 2024):
    path = "Datasets\IESO Historical Demand for Electricity\PUB_Demand_{}.csv".format(i)
    demand_datasets.append(pd.read_csv(path, skiprows=3))

In [4]:
# check datasets
for dataset in demand_datasets:
    print(dataset)

            Date  Hour  Market Demand  Ontario Demand
0     2002-05-01     1          14141           14137
1     2002-05-01     2          13876           13872
2     2002-05-01     3          13974           13820
3     2002-05-01     4          13898           13744
4     2002-05-01     5          14378           14224
...          ...   ...            ...             ...
5875  2002-12-31    20          18750           17913
5876  2002-12-31    21          17954           17201
5877  2002-12-31    22          17597           16559
5878  2002-12-31    23          16878           15922
5879  2002-12-31    24          16441           15205

[5880 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2003-01-01     1          15558           14745
1     2003-01-01     2          15131           14280
2     2003-01-01     3          15075           13821
3     2003-01-01     4          14308           13239
4     2003-01-01     5          14059           13236
...          ...   ...            ...             ...
8755  2003-12-31    20          18692           17885
8756  2003-12-31    21          17947           17168
8757  2003-12-31    22          17406           16630
8758  2003-12-31    23          16967           16035
8759  2003-12-31    24          16654           15372

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2004-01-01     1          15787           14703
1     2004-01-01     2          15194           14130
2     2004-01-01     3          14589           13575
3     2004-01-01     4          14294           13280
4     2004-01-01     5          14233           13219
...          ...   ...            ...             ...
8779  2004-12-31    20          19547           18131
8780  2004-12-31    21          18918           17390
8781  2004-12-31    22          18439           16737
8782  2004-12-31    23          17718           16112
8783  2004-12-31    24          17057           15677

[8784 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2005-01-01     1          16672           15016
1     2005-01-01     2          16262           14470
2     2005-01-01     3          16043           14015
3     2005-01-01     4          15192           13622
4     2005-01-01     5          14911           13545
...          ...   ...            ...             ...
8755  2005-12-31    20          20312           18965
8756  2005-12-31    21          20120           18372
8757  2005-12-31    22          19363           17696
8758  2005-12-31    23          18475           17013
8759  2005-12-31    24          18285           16558

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2006-01-01     1          17703           15925
1     2006-01-01     2          17230           15323
2     2006-01-01     3          16830           14832
3     2006-01-01     4          16220           14502
4     2006-01-01     5          16066           14392
...          ...   ...            ...             ...
8755  2006-12-31    20          18889           17571
8756  2006-12-31    21          18347           16962
8757  2006-12-31    22          17250           16342
8758  2006-12-31    23          16817           15734
8759  2006-12-31    24          16347           15245

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2007-01-01     1          15877           14850
1     2007-01-01     2          15621           14142
2     2007-01-01     3          15007           13464
3     2007-01-01     4          14494           12992
4     2007-01-01     5          14440           12977
...          ...   ...            ...             ...
8755  2007-12-31    20          20359           17649
8756  2007-12-31    21          19065           17022
8757  2007-12-31    22          17474           16456
8758  2007-12-31    23          17562           15984
8759  2007-12-31    24          16498           15622

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2008-01-01     1          16747           15181
1     2008-01-01     2          16047           14610
2     2008-01-01     3          15988           14151
3     2008-01-01     4          15464           13926
4     2008-01-01     5          15236           13670
...          ...   ...            ...             ...
8779  2008-12-31    20          21161           18932
8780  2008-12-31    21          20647           18268
8781  2008-12-31    22          19767           17688
8782  2008-12-31    23          19366           17169
8783  2008-12-31    24          18543           16557

[8784 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2009-01-01     1          17714           16011
1     2009-01-01     2          17555           15503
2     2009-01-01     3          17228           15095
3     2009-01-01     4          16920           14880
4     2009-01-01     5          16909           14883
...          ...   ...            ...             ...
8755  2009-12-31    20          18891           17505
8756  2009-12-31    21          17928           16741
8757  2009-12-31    22          17116           16125
8758  2009-12-31    23          16883           15694
8759  2009-12-31    24          16115           15049

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2010-01-01     1          16025           14403
1     2010-01-01     2          15428           13814
2     2010-01-01     3          15291           13366
3     2010-01-01     4          15482           13120
4     2010-01-01     5          15508           13075
...          ...   ...            ...             ...
8755  2010-12-31    20          19140           16511
8756  2010-12-31    21          18486           15758
8757  2010-12-31    22          18103           15116
8758  2010-12-31    23          17138           14529
8759  2010-12-31    24          17016           13824

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2011-01-01     1          16468           13369
1     2011-01-01     2          16034           12883
2     2011-01-01     3          15678           12436
3     2011-01-01     4          15311           12141
4     2011-01-01     5          15284           11856
...          ...   ...            ...             ...
8755  2011-12-31    20          17264           16894
8756  2011-12-31    21          16701           16266
8757  2011-12-31    22          15998           15663
8758  2011-12-31    23          15342           14972
8759  2011-12-31    24          14838           14361

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2012-01-01     1          14571           13710
1     2012-01-01     2          14076           13285
2     2012-01-01     3          14106           12905
3     2012-01-01     4          14066           12608
4     2012-01-01     5          13895           12439
...          ...   ...            ...             ...
8779  2012-12-31    20          19060           17228
8780  2012-12-31    21          18631           16743
8781  2012-12-31    22          17985           16125
8782  2012-12-31    23          17526           15620
8783  2012-12-31    24          17404           15122

[8784 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2013-01-01     1          17092           14527
1     2013-01-01     2          16770           14033
2     2013-01-01     3          16483           13776
3     2013-01-01     4          16233           13573
4     2013-01-01     5          16070           13498
...          ...   ...            ...             ...
8755  2013-12-31    20          20388           18607
8756  2013-12-31    21          19590           18108
8757  2013-12-31    22          19089           17572
8758  2013-12-31    23          18767           16966
8759  2013-12-31    24          18489           16385

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2014-01-01     1          18266           15862
1     2014-01-01     2          17705           15462
2     2014-01-01     3          17582           15182
3     2014-01-01     4          17311           14925
4     2014-01-01     5          17090           14807
...          ...   ...            ...             ...
8755  2014-12-31    20          21226           18010
8756  2014-12-31    21          20404           17294
8757  2014-12-31    22          19710           16759
8758  2014-12-31    23          19167           16123
8759  2014-12-31    24          18614           15469

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2015-01-01     1          18358           14960
1     2015-01-01     2          18012           14476
2     2015-01-01     3          17795           13979
3     2015-01-01     4          17559           13670
4     2015-01-01     5          17402           13567
...          ...   ...            ...             ...
8755  2015-12-31    20          19555           16486
8756  2015-12-31    21          18891           15801
8757  2015-12-31    22          18058           15048
8758  2015-12-31    23          17970           14465
8759  2015-12-31    24          17430           13892

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2016-01-01     1          16767           13417
1     2016-01-01     2          16751           12968
2     2016-01-01     3          16319           12395
3     2016-01-01     4          16148           12228
4     2016-01-01     5          16054           12116
...          ...   ...            ...             ...
8779  2016-12-31    20          19673           16260
8780  2016-12-31    21          19160           15658
8781  2016-12-31    22          18436           15195
8782  2016-12-31    23          18045           14758
8783  2016-12-31    24          17562           14153

[8784 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2017-01-01     1          17172           13522
1     2017-01-01     2          16757           13117
2     2017-01-01     3          16370           12816
3     2017-01-01     4          16075           12605
4     2017-01-01     5          16050           12563
...          ...   ...            ...             ...
8755  2017-12-31    20          22405           18706
8756  2017-12-31    21          22025           18284
8757  2017-12-31    22          21594           17772
8758  2017-12-31    23          20689           17228
8759  2017-12-31    24          20092           16842

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2018-01-01     1          18974           16627
1     2018-01-01     2          18447           16084
2     2018-01-01     3          18453           15866
3     2018-01-01     4          18662           15725
4     2018-01-01     5          18060           15470
...          ...   ...            ...             ...
8755  2018-12-31    20          18276           16195
8756  2018-12-31    21          18046           15668
8757  2018-12-31    22          17516           14987
8758  2018-12-31    23          17506           14560
8759  2018-12-31    24          16704           13828

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2019-01-01     1          16231           13198
1     2019-01-01     2          16051           12737
2     2019-01-01     3          15805           12531
3     2019-01-01     4          15580           12291
4     2019-01-01     5          15609           12305
...          ...   ...            ...             ...
8755  2019-12-31    20          18402           15909
8756  2019-12-31    21          17574           15198
8757  2019-12-31    22          16872           14678
8758  2019-12-31    23          16562           14136
8759  2019-12-31    24          16527           13578

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2020-01-01     1          16565           13219
1     2020-01-01     2          16193           12895
2     2020-01-01     3          16072           12554
3     2020-01-01     4          15930           12360
4     2020-01-01     5          15963           12353
...          ...   ...            ...             ...
8779  2020-12-31    20          18332           16783
8780  2020-12-31    21          17727           16154
8781  2020-12-31    22          17127           15744
8782  2020-12-31    23          16673           15092
8783  2020-12-31    24          16723           14665

[8784 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2021-01-01     1          16057           14112
1     2021-01-01     2          15516           13504
2     2021-01-01     3          15185           13155
3     2021-01-01     4          14940           12892
4     2021-01-01     5          14802           12798
...          ...   ...            ...             ...
8755  2021-12-31    20          17315           16046
8756  2021-12-31    21          16629           15529
8757  2021-12-31    22          16010           15112
8758  2021-12-31    23          15362           14596
8759  2021-12-31    24          15227           14070

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2022-01-01     1          15150           13543
1     2022-01-01     2          15344           13254
2     2022-01-01     3          14686           12683
3     2022-01-01     4          14400           12491
4     2022-01-01     5          14043           12493
...          ...   ...            ...             ...
8755  2022-12-31    20          17872           15834
8756  2022-12-31    21          18051           15465
8757  2022-12-31    22          17362           15086
8758  2022-12-31    23          16277           14453
8759  2022-12-31    24          15662           13965

[8760 rows x 4 columns]
            Date  Hour  Market Demand  Ontario Demand
0     2023-01-01     1          15130           13514
1     2023-01-01     2          15064           13225
2     2023-01-01     3          14923           12726
3     2023-01-01     4          15116           12629
4     2023-01-01     5          15200           12625
...          ...   ...            ...             ...
3355  2023-05-20    20          16320           14288
3356  2023-05-20    21          16063           14079
3357  2023-05-20    22          15795           13398
3358  2023-05-20    23          15314           12595
3359  2023-05-20    24          14292           11775

[3360 rows x 4 columns]

In [6]:
# row-wise concatenate all datasets
final_demand_dataset = pd.concat(demand_datasets, axis=0)

In [7]:
# check final combined dataset
final_demand_dataset

            Date  Hour  Market Demand  Ontario Demand
0     2002-05-01     1          14141           14137
1     2002-05-01     2          13876           13872
2     2002-05-01     3          13974           13820
3     2002-05-01     4          13898           13744
4     2002-05-01     5          14378           14224
...          ...   ...            ...             ...
3355  2023-05-20    20          16320           14288
3356  2023-05-20    21          16063           14079
3357  2023-05-20    22          15795           13398
3358  2023-05-20    23          15314           12595
3359  2023-05-20    24          14292           11775

[184560 rows x 4 columns]

In [9]:
# create final dataset csv file
final_demand_dataset.to_csv("Datasets\Final Datasets\ieso_demand_dataset.csv", index=False)

2. IESO Supply Datasets

In [18]:
# getting datasets from 2015 to 2023
supply_datasets = []
for i in range(2015, 2024):
    path = "Datasets\IESO Generator Output by Fuel Type Hourly Report\Generator_Supply_{}.csv".format(i)
    supply_datasets.append(pd.read_csv(path))

In [19]:
# check datasets
for dataset in supply_datasets:
    print(dataset)

            Date  Hour  Nuclear  Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2015     1    11564  957   3173  2504    0.0       20  \
1       1/1/2015     2    11560  946   3100  2262    0.0       20
2       1/1/2015     3    11560  947   3051  2025    0.0       20
3       1/1/2015     4    11444  949   3086  1950    0.0       22
4       1/1/2015     5    11174  946   3131  2015    0.0       21
...          ...   ...      ...  ...    ...   ...    ...      ...
8755  12/31/2015    20    11552  948   4830  1372    0.0        3
8756  12/31/2015    21    11550  946   4469  1504    0.0        4
8757  12/31/2015    22    11547  946   3930  1284    0.0        3
8758  12/31/2015    23    11556  944   3576  1441    0.0        3
8759  12/31/2015    24    11551  923   3213  1543    0.0        3

      Total Output
0            18218
1            17888
2            17603
3            17451
4            17287
...            ...
8755         18705
8756         18473
8757         17710
8758         17520
8759         17233

[8760 rows x 9 columns]
            Date  Hour  Nuclear  Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2016     1    11188  919   2994  1255      0        3  \
1       1/1/2016     2    11021  918   2999  1483      0        3
2       1/1/2016     3    10904  920   3012  1133      0        8
3       1/1/2016     4    10425  922   3005  1347      0        7
4       1/1/2016     5    10411  921   3030  1176      0        2
...          ...   ...      ...  ...    ...   ...    ...      ...
8779  12/31/2016    20    11607  364   3796  3444      0        7
8780  12/31/2016    21    11598  362   3721  2932      0        4
8781  12/31/2016    22    11591  334   3360  2612      0        1
8782  12/31/2016    23    11593  332   2569  2986      0        1
8783  12/31/2016    24    11594  304   2464  2679      0        1

      Total Output
0            16359
1            16424
2            15977
3            15706
4            15540
...            ...
8779         19218
8780         18617
8781         17898
8782         17481
8783         17042

[8784 rows x 9 columns]
            Date  Hour  Nuclear   Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2017     1    11592   234   2455  2433      0        1  \
1       1/1/2017     2    11591   235   2523  1994      0        1
2       1/1/2017     3    11596   234   2464  1647      0        1
3       1/1/2017     4    11610   236   2494  1386      0        1
4       1/1/2017     5    11611   235   2476  1330      0        1
...          ...   ...      ...   ...    ...   ...    ...      ...
8755  12/31/2017    20    11681  3032   5110  1201      0        8
8756  12/31/2017    21    11675  2853   4978  1180      0        6
8757  12/31/2017    22    11682  2721   4525  1214      0        0
8758  12/31/2017    23    11677  2715   3918  1164      0        1
8759  12/31/2017    24    11680  2526   3739  1049      0        3

      Total Output
0            16715
1            16344
2            15942
3            15727
4            15653
...            ...
8755         21032
8756         20692
8757         20142
8758         19475
8759         18997

[8760 rows x 9 columns]
            Date  Hour  Nuclear   Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2018     1    11671  1583   4152   992      0        3  \
1       1/1/2018     2    11672  1192   4093  1124      0        1
2       1/1/2018     3    11672  1040   4231  1265      0        0
3       1/1/2018     4    11669  1041   3895  1369      0        0
4       1/1/2018     5    11674  1004   3271  1848      0        0
...          ...   ...      ...   ...    ...   ...    ...      ...
8755  12/31/2018    20    11200   229   4094  2303      0       27
8756  12/31/2018    21    11188   230   3710  2581      0       27
8757  12/31/2018    22    11187   232   3482  2299      0       27
8758  12/31/2018    23    11212   233   3254  2506      0       27
8759  12/31/2018    24    11219   232   3136  1897      0       16

      Total Output
0            18401
1            18082
2            18208
3            17974
4            17797
...            ...
8755         17853
8756         17736
8757         17227
8758         17232
8759         16500

[8760 rows x 9 columns]
            Date  Hour  Nuclear  Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2019     1    11215  232   3320  1302      0       10  \
1       1/1/2019     2    11221  233   3274  1146      0       10
2       1/1/2019     3    11205  233   3222   992      0       10
3       1/1/2019     4    11205  234   3205   876      0       10
4       1/1/2019     5    11214  233   3218   883      0       10
...          ...   ...      ...  ...    ...   ...    ...      ...
8755  12/31/2019    20    11462  232   3819  2735      0       34
8756  12/31/2019    21    11514  230   3719  2066      0       34
8757  12/31/2019    22    11605  229   3700  1260      0       34
8758  12/31/2019    23    11615  229   3548  1142      0       34
8759  12/31/2019    24    11625  230   3190  1463      0       24

      Total Output
0            16079
1            15884
2            15662
3            15530
4            15558
...            ...
8755         18282
8756         17563
8757         16828
8758         16568
8759         16532

[8760 rows x 9 columns]
            Date  Hour  Nuclear   Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2020     1    11633   232   2948  1717      0       17  \
1       1/1/2020     2    11637   231   2909  1382      0       14
2       1/1/2020     3    11638   233   2880  1263      0       13
3       1/1/2020     4    11632   233   2850  1184      0       13
4       1/1/2020     5    11627   231   2950  1202      0       13
...          ...   ...      ...   ...    ...   ...    ...      ...
8779  12/31/2020    20     8941  1384   5812   392      1       82
8780  12/31/2020    21     8934  1266   5350   461      0       82
8781  12/31/2020    22     8937   457   5433   419      0       81
8782  12/31/2020    23     8940   266   5259   313      0       83
8783  12/31/2020    24     9022   299   5156   256      0       26

      Total Output
0            16547
1            16173
2            16027
3            15912
4            16023
...            ...
8779         16612
8780         16093
8781         15327
8782         14861
8783         14759

[8784 rows x 9 columns]
            Date  Hour  Nuclear   Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2021     1     9021   338   4781   161      0        0  \
1       1/1/2021     2     9037   245   4363   141      0        0
2       1/1/2021     3     9027   214   4028   238      0        0
3       1/1/2021     4     9182   214   3681   428      0        0
4       1/1/2021     5     9219   213   3172   277      0        0
...          ...   ...      ...   ...    ...   ...    ...      ...
8755  12/31/2021    20    10471  1384   4330   635      0       32
8756  12/31/2021    21    10470  1216   4112   820      0       31
8757  12/31/2021    22    10473   973   3585   991      0       32
8758  12/31/2021    23    10472   323   3643   797      0       32
8759  12/31/2021    24    10470   175   3682   716      0       21

      Total Output
0            14301
1            13786
2            13507
3            13505
4            12881
...            ...
8755         16852
8756         16649
8757         16054
8758         15267
8759         15064

[8760 rows x 9 columns]
            Date  Hour  Nuclear   Gas  Hydro  Wind  Solar  Biofuel
0       1/1/2022     1    10474   163   3872   458      0        5  \
1       1/1/2022     2    10480   202   4076   300      0        0
2       1/1/2022     3    10481   183   3570   320      0        0
3       1/1/2022     4    10483   123   3332   348      0        1
4       1/1/2022     5    10485   123   3067   267      0        1
...          ...   ...      ...   ...    ...   ...    ...      ...
8755  12/31/2022    20     9990  1442   5615   695      0       19
8756  12/31/2022    21     9990  1664   5568   560      0       19
8757  12/31/2022    22     9994  1682   4926   561      0       19
8758  12/31/2022    23     9993   902   4666   594      0       19
8759  12/31/2022    24     9993   262   4576   560      0       19

      Total Output
0            14972
1            15058
2            14554
3            14287
4            13943
...            ...
8755         17761
8756         17801
8757         17182
8758         16174
8759         15410

[8760 rows x 9 columns]
           Date  Hour  Nuclear  Gas  Hydro  Wind  Solar  Biofuel  Total Output
0      1/1/2023     1     9977  130   4185   533      0       19         14844
1      1/1/2023     2     9993  130   3928   688      0       19         14758
2      1/1/2023     3     9996  129   3725   693      0       19         14562
3      1/1/2023     4     9999  129   3860   685      0       19         14692
4      1/1/2023     5    10002  152   3826   658      0       19         14657
...         ...   ...      ...  ...    ...   ...    ...      ...           ...
3355  5/20/2023    20     8692  344   5665  1161      1       52         15915
3356  5/20/2023    21     8691  344   5402  1261      0       52         15750
3357  5/20/2023    22     8695  344   5193  1389      0       30         15651
3358  5/20/2023    23     8696  247   4325  1799      0       50         15117
3359  5/20/2023    24     8699  179   4205  1261      0       55         14399

[3360 rows x 9 columns]

In [20]:
# row-wise concatenate all datasets
final_supply_dataset = pd.concat(supply_datasets, axis=0)

In [21]:
# check final combined dataset
final_supply_dataset

           Date  Hour  Nuclear  Gas  Hydro  Wind  Solar  Biofuel  Total Output
0      1/1/2015     1    11564  957   3173  2504    0.0       20         18218
1      1/1/2015     2    11560  946   3100  2262    0.0       20         17888
2      1/1/2015     3    11560  947   3051  2025    0.0       20         17603
3      1/1/2015     4    11444  949   3086  1950    0.0       22         17451
4      1/1/2015     5    11174  946   3131  2015    0.0       21         17287
...         ...   ...      ...  ...    ...   ...    ...      ...           ...
3355  5/20/2023    20     8692  344   5665  1161    1.0       52         15915
3356  5/20/2023    21     8691  344   5402  1261    0.0       52         15750
3357  5/20/2023    22     8695  344   5193  1389    0.0       30         15651
3358  5/20/2023    23     8696  247   4325  1799    0.0       50         15117
3359  5/20/2023    24     8699  179   4205  1261    0.0       55         14399

[73488 rows x 9 columns]

In [22]:
# create final dataset csv file
final_supply_dataset.to_csv("Datasets\Final Datasets\ieso_supply_dataset.csv", index=False)

3. IESO Price Datasets

In [10]:
# getting datasets from 2002 to 2023
price_datasets = []
for i in range(2002, 2024):
    path = "Datasets\IESO Yearly Hourly HOEP or Predispatch Report\PUB_PriceHOEPPredispOR_{}.csv".format(i)
    price_datasets.append(pd.read_csv(path, skiprows=3))

In [11]:
# check datasets
for dataset in price_datasets:
    print(dataset)

            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2002-05-01     1  22.97               14.53               14.53  \
1     2002-05-01     2  23.27               21.31               21.37
2     2002-05-01     3  24.54               25.45               21.38
3     2002-05-01     4  15.17               24.92               24.92
4     2002-05-01     5  23.59               27.38               27.38
...          ...   ...    ...                 ...                 ...
5875  2002-12-31    20  27.72               35.00               35.00
5876  2002-12-31    21  26.39               31.72               49.24
5877  2002-12-31    22  27.42               44.60               49.24
5878  2002-12-31    23  26.72               29.60               29.60
5879  2002-12-31    24  26.65               28.20               29.95

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  14.53             NaN                 NaN        NaN
1                  21.37             NaN                 NaN        NaN
2                  21.38             NaN                 NaN        NaN
3                  14.53             NaN                 NaN        NaN
4                  27.40             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
5875               30.08             NaN                 NaN        NaN
5876               49.24             NaN                 NaN        NaN
5877               59.15             NaN                 NaN        NaN
5878               44.60             NaN                 NaN        NaN
5879               31.12             NaN                 NaN        NaN

[5880 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2003-01-01     1  27.21               30.20               39.90  \
1     2003-01-01     2  26.71               28.19               28.52
2     2003-01-01     3  26.91               27.59               27.74
3     2003-01-01     4  23.92               26.00               26.00
4     2003-01-01     5  20.89               25.54               25.71
...          ...   ...    ...                 ...                 ...
8755  2003-12-31    20  27.75               29.58               35.00
8756  2003-12-31    21  26.80               28.70               30.25
8757  2003-12-31    22  27.06               28.56               29.47
8758  2003-12-31    23  27.74               28.88               30.17
8759  2003-12-31    24  28.70               35.00               35.00

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  33.30             NaN                 NaN        NaN
1                  31.38             NaN                 NaN        NaN
2                  27.56             NaN                 NaN        NaN
3                  25.89             NaN                 NaN        NaN
4                  25.04             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8755               35.00             NaN                 NaN        NaN
8756               30.46             NaN                 NaN        NaN
8757               29.52             NaN                 NaN        NaN
8758               30.01             NaN                 NaN        NaN
8759               35.00             NaN                 NaN        NaN

[8760 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2004-01-01     1  30.90               32.82               32.84  \
1     2004-01-01     2  27.13               32.08               32.10
2     2004-01-01     3  25.23               33.55               33.63
3     2004-01-01     4  24.29               30.00               32.32
4     2004-01-01     5  24.42               27.63               28.27
...          ...   ...    ...                 ...                 ...
8779  2004-12-31    20  31.15               37.26               50.00
8780  2004-12-31    21  27.08               38.32               38.40
8781  2004-12-31    22  26.72               37.48               38.00
8782  2004-12-31    23  31.97               35.50               36.00
8783  2004-12-31    24  23.89               44.75               42.00

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  35.00             NaN                 NaN        NaN
1                  32.15             NaN                 NaN        NaN
2                  30.57             NaN                 NaN        NaN
3                  28.00             NaN                 NaN        NaN
4                  30.00             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8779               50.00             NaN                 NaN        NaN
8780               37.17             NaN                 NaN        NaN
8781               39.14             NaN                 NaN        NaN
8782               36.64             NaN                 NaN        NaN
8783               45.00             NaN                 NaN        NaN

[8784 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2005-01-01     1  25.82               36.50               45.18  \
1     2005-01-01     2  30.82               29.43               31.00
2     2005-01-01     3  39.48               30.00               32.63
3     2005-01-01     4  26.02               19.38               28.00
4     2005-01-01     5  18.01               19.00               18.11
...          ...   ...    ...                 ...                 ...
8755  2005-12-31    20  46.46               52.54               52.54
8756  2005-12-31    21  47.68               50.30               48.90
8757  2005-12-31    22  44.72               50.01               46.81
8758  2005-12-31    23  38.17               46.61               46.62
8759  2005-12-31    24  42.64               40.25               40.25

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  45.00             NaN                 NaN        NaN
1                  33.54             NaN                 NaN        NaN
2                  31.00             NaN                 NaN        NaN
3                  29.56             NaN                 NaN        NaN
4                  20.00             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8755               50.00             NaN                 NaN        NaN
8756               51.16             NaN                 NaN        NaN
8757               46.23             NaN                 NaN        NaN
8758               44.80             NaN                 NaN        NaN
8759               39.79             NaN                 NaN        NaN

[8760 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2006-01-01     1  48.73               49.86               49.00  \
1     2006-01-01     2  49.10               48.15               48.20
2     2006-01-01     3  46.70               47.78               44.01
3     2006-01-01     4  37.03               48.01               46.52
4     2006-01-01     5  33.35               40.25               43.88
...          ...   ...    ...                 ...                 ...
8755  2006-12-31    20  31.40               42.83               42.28
8756  2006-12-31    21  31.06               32.73               34.96
8757  2006-12-31    22  28.91               30.25               30.96
8758  2006-12-31    23  28.38               29.92               29.66
8759  2006-12-31    24  27.24               28.85               28.50

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  47.51             NaN                 NaN        NaN
1                  46.79             NaN                 NaN        NaN
2                  45.73             NaN                 NaN        NaN
3                  39.05             NaN                 NaN        NaN
4                  39.35             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8755               33.26             NaN                 NaN        NaN
8756               32.45             NaN                 NaN        NaN
8757               32.05             NaN                 NaN        NaN
8758               30.02             NaN                 NaN        NaN
8759               27.83             NaN                 NaN        NaN

[8760 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2007-01-01     1  27.60               29.60               29.16  \
1     2007-01-01     2  26.68               28.47               28.41
2     2007-01-01     3  22.31               26.45               26.09
3     2007-01-01     4  25.28               26.88               26.78
4     2007-01-01     5  20.89               22.79               22.96
...          ...   ...    ...                 ...                 ...
8755  2007-12-31    20  28.75               30.55               30.74
8756  2007-12-31    21  24.60               28.00               28.00
8757  2007-12-31    22  13.81               27.35               26.61
8758  2007-12-31    23  19.79               25.57               26.29
8759  2007-12-31    24  22.35               24.95               25.31

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  32.24             NaN                 NaN        NaN
1                  27.81             NaN                 NaN        NaN
2                  23.07             NaN                 NaN        NaN
3                  17.48             NaN                 NaN        NaN
4                  22.78             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8755               34.60             NaN                 NaN        NaN
8756               25.63             NaN                 NaN        NaN
8757               25.00             NaN                 NaN        NaN
8758               25.00             NaN                 NaN        NaN
8759               25.93             NaN                 NaN        NaN

[8760 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2008-01-01     1  32.74               23.55               23.97  \
1     2008-01-01     2  21.84               21.32               21.21
2     2008-01-01     3  31.41               22.01               21.30
3     2008-01-01     4  21.95               17.01               16.02
4     2008-01-01     5  20.61               20.01               19.85
...          ...   ...    ...                 ...                 ...
8779  2008-12-31    20  60.65               55.00               45.09
8780  2008-12-31    21  41.33               41.33               41.33
8781  2008-12-31    22  40.14               40.52               39.79
8782  2008-12-31    23  43.78               40.27               40.08
8783  2008-12-31    24  37.09               37.78               37.47

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  24.33             NaN                 NaN        NaN
1                  20.32             NaN                 NaN        NaN
2                  18.79             NaN                 NaN        NaN
3                  19.51             NaN                 NaN        NaN
4                  14.76             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8779               46.69             NaN                 NaN        NaN
8780               38.35             NaN                 NaN        NaN
8781               41.29             NaN                 NaN        NaN
8782               38.49             NaN                 NaN        NaN
8783               37.78             NaN                 NaN        NaN

[8784 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2009-01-01     1  40.97               42.86               42.86  \
1     2009-01-01     2  43.79               42.86               42.86
2     2009-01-01     3  42.46               42.86               42.86
3     2009-01-01     4  43.35               42.79               42.25
4     2009-01-01     5  42.06               39.67               39.55
...          ...   ...    ...                 ...                 ...
8755  2009-12-31    20  28.56               29.58               35.10
8756  2009-12-31    21  14.95               27.15               30.03
8757  2009-12-31    22  14.37               27.20               29.20
8758  2009-12-31    23  15.51               26.00               26.00
8759  2009-12-31    24  31.31               30.00               30.00

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  42.47             NaN                 NaN        NaN
1                  41.67             NaN                 NaN        NaN
2                  39.66             NaN                 NaN        NaN
3                  41.74             NaN                 NaN        NaN
4                  38.55             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8755               34.99             NaN                 NaN        NaN
8756               28.23             NaN                 NaN        NaN
8757               25.00             NaN                 NaN        NaN
8758               24.89             NaN                 NaN        NaN
8759               26.40             NaN                 NaN        NaN

[8760 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2010-01-01     1  33.83               34.09               32.89  \
1     2010-01-01     2  27.49               30.00               31.20
2     2010-01-01     3  25.96               28.00               28.00
3     2010-01-01     4  27.20               27.00               27.00
4     2010-01-01     5  28.50               24.69               26.13
...          ...   ...    ...                 ...                 ...
8755  2010-12-31    20  17.12               15.00               15.00
8756  2010-12-31    21   8.54               18.31               20.02
8757  2010-12-31    22  19.40               18.49               20.02
8758  2010-12-31    23   6.88               15.00               12.52
8759  2010-12-31    24  16.39               12.52               15.10

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  28.58             NaN                 NaN        NaN
1                  26.62             NaN                 NaN        NaN
2                  26.62             NaN                 NaN        NaN
3                  26.49             NaN                 NaN        NaN
4                  26.40             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8755                7.60             NaN                 NaN        NaN
8756                7.95             NaN                 NaN        NaN
8757                8.88             NaN                 NaN        NaN
8758                6.45             NaN                 NaN        NaN
8759                6.09             NaN                 NaN        NaN

[8760 rows x 9 columns]
            Date  Hour    HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2011-01-01     1   28.93               19.89               20.00  \
1     2011-01-01     2   13.74                7.10               18.62
2     2011-01-01     3   -1.54                3.10                4.00
3     2011-01-01     4 -123.26                3.00                3.00
4     2011-01-01     5  -54.68                0.00                0.00
...          ...   ...     ...                 ...                 ...
8755  2011-12-31    20   34.09               26.69               27.04
8756  2011-12-31    21   27.19               25.95               25.95
8757  2011-12-31    22   27.47               25.84               25.84
8758  2011-12-31    23   24.96               24.67               26.70
8759  2011-12-31    24   20.59               20.70               20.70

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  19.54             NaN                 NaN        NaN
1                  18.62             NaN                 NaN        NaN
2                   9.10             NaN                 NaN        NaN
3                   4.00             NaN                 NaN        NaN
4                   1.10             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8755               22.99             NaN                 NaN        NaN
8756               18.25             NaN                 NaN        NaN
8757               15.11             NaN                 NaN        NaN
8758               24.67             NaN                 NaN        NaN
8759               21.13             NaN                 NaN        NaN

[8760 rows x 9 columns]
            Date  Hour   HOEP  Hour 1 Predispatch  Hour 2 Predispatch
0     2012-01-01     1  21.71               25.25               29.89  \
1     2012-01-01     2  16.92               18.25               16.25
2     2012-01-01     3  11.23               15.48               15.00
3     2012-01-01     4   7.10               13.58               12.56
4     2012-01-01     5  -6.70               13.58               14.98
...          ...   ...    ...                 ...                 ...
8779  2012-12-31    20  15.80               17.31               19.68
8780  2012-12-31    21  15.21               14.13               15.02
8781  2012-12-31    22  14.37               14.09               15.31
8782  2012-12-31    23  13.72               13.14               13.27
8783  2012-12-31    24  14.00               13.54               13.69

      Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min
0                  12.85             NaN                 NaN        NaN
1                  10.00             NaN                 NaN        NaN
2                   0.00             NaN                 NaN        NaN
3                   1.00             NaN                 NaN        NaN
4                   1.00             NaN                 NaN        NaN
...                  ...             ...                 ...        ...
8779               15.55             NaN                 NaN        NaN
8780               14.13             NaN                 NaN        NaN
8781               13.64             NaN                 NaN        NaN
8782                8.51             NaN                 NaN        NaN
8783                8.46             NaN                 NaN        NaN

[8784 rows x 9 columns]
            Date  Hour   HOEP Hour 1 Predispatch Hour 2 Predispatch
0     2013-01-01     1  18.56               15.9               15.9  \
1     2013-01-01     2  31.63              19.32              19.53
2     2013-01-01     3  20.49              14.58              14.58
3     2013-01-01     4  19.73              14.55               15.9
4     2013-01-01     5  17.20              14.18              13.75
...          ...   ...    ...                ...                ...
8755  2013-12-31    20  19.65              38.14              38.23
8756  2013-12-31    21  18.92              35.96              35.96
8757  2013-12-31    22  20.10                 33                 33
8758  2013-12-31    23  46.33                 32              33.11
8759  2013-12-31    24  41.22              32.44                 32

     Hour 3 Predispatch  OR 10 Min Sync  OR 10 Min non-sync  OR 30 Min

In [12]:
# row-wise concatenate all datasets
final_price_dataset = pd.concat(price_datasets, axis=0)

In [13]:
# check final combined dataset
final_price_dataset

,Date,Hour,HOEP,Hour 1 Predispatch,Hour 2 Predispatch,Hour 3 Predispatch,OR 10 Min Sync,OR 10 Min non-sync,OR 30 Min
0,2002-05-01,1,22.97,14.53,14.53,14.53,NaN,NaN,NaN
1,2002-05-01,2,23.27,21.31,21.37,21.37,NaN,NaN,NaN
2,2002-05-01,3,24.54,25.45,21.38,21.38,NaN,NaN,NaN
3,2002-05-01,4,15.17,24.92,24.92,14.53,NaN,NaN,NaN
4,2002-05-01,5,23.59,27.38,27.38,27.4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3355,2023-05-20,20,14.36,20.0,20.0,20.0,30.10,30.10,4.76
3356,2023-05-20,21,11.55,20.0,14.37,14.33,30.10,30.10,4.76
3357,2023-05-20,22,6.66,11.51,6.04,8.08,21.60,21.60,20.53
3358,2023-05-20,23,2.29,5.44,5.45,5.9,19.64,19.64,19.64
3359,2023-05-20,24,0.0,0.0,0.0,0.0,1.69,1.69,1.69

In [14]:
# create final dataset csv file
final_price_dataset.to_csv("Datasets\Final Datasets\ieso_price_dataset.csv", index=False)

Combination of All 3 Datasets

In [31]:
# merge demand and supply datasets based on date and hour
final_demand_supply_dataset = pd.merge(final_demand_dataset, final_supply_dataset, how='outer', left_on=['Date', 'Hour'], right_on=['Date', 'Hour'])

In [37]:
# merge demand and supply and price datasets based on date and hour
final_demand_supply_price_dataset = pd.merge(final_demand_supply_dataset, final_price_dataset, how='outer', left_on=['Date', 'Hour'], right_on=['Date', 'Hour'])
final_dataset = final_demand_supply_price_dataset

In [38]:
# check final dataset
final_dataset

,Date,Hour,Market Demand,Ontario Demand,Nuclear,Gas,Hydro,Wind,Solar,Biofuel,Total Output,HOEP,Hour 1 Predispatch,Hour 2 Predispatch,Hour 3 Predispatch,OR 10 Min Sync,OR 10 Min non-sync,OR 30 Min
0,2002-05-01,1,14141,14137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,14.53,14.53,14.53,NaN,NaN,NaN
1,2002-05-01,2,13876,13872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.27,21.31,21.37,21.37,NaN,NaN,NaN
2,2002-05-01,3,13974,13820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.54,25.45,21.38,21.38,NaN,NaN,NaN
3,2002-05-01,4,13898,13744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.17,24.92,24.92,14.53,NaN,NaN,NaN
4,2002-05-01,5,14378,14224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.59,27.38,27.38,27.4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184555,2023-05-20,20,16320,14288,8692.0,344.0,5665.0,1161.0,1.0,52.0,15915.0,14.36,20.0,20.0,20.0,30.10,30.10,4.76
184556,2023-05-20,21,16063,14079,8691.0,344.0,5402.0,1261.0,0.0,52.0,15750.0,11.55,20.0,14.37,14.33,30.10,30.10,4.76
184557,2023-05-20,22,15795,13398,8695.0,344.0,5193.0,1389.0,0.0,30.0,15651.0,6.66,11.51,6.04,8.08,21.60,21.60,20.53
184558,2023-05-20,23,15314,12595,8696.0,247.0,4325.0,1799.0,0.0,50.0,15117.0,2.29,5.44,5.45,5.9,19.64,19.64,19.64
184559,2023-05-20,24,14292,11775,8699.0,179.0,4205.0,1261.0,0.0,55.0,14399.0,0.0,0.0,0.0,0.0,1.69,1.69,1.69

In [39]:
# create final dataset csv file
final_dataset.to_csv("Datasets\Final Datasets\ieso_dataset.csv", index=False)